[Unit]
Description=Mail Tracking Bot
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m mailtrackingbot
WorkingDirectory=/opt/mailtrackingbot/app
Restart=on_failure
